div.draggable-point {
    width: 10px;
    height: 10px;
    left: -5px;
    top: -5px;
    animation: scale-in 0.2s ease-out;
    border-radius: 50%;
    background-color: #2222dd;
    position: absolute;
    z-index: 100;
    transition-property: background-color, box-shadow, border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

div.draggable-point.invalid-point {
    background-color: #dd2222;
    box-shadow: #dd2222 0px 0px 0px;
}

div.draggable-point:hover {
    box-shadow: #5555ff 0px 0px 0px 2px;
}

div.draggable-point.invalid-point:hover {
    box-shadow: #ff5555 0px 0px 0px 2px;
}

@keyframes scale-in {
    from {
        left: initial;
        left: 0px;
        top: 0px;
        width: 0px;
        height: 0px;
    }
    to {
        left: -5px;
        top: -5px;
        width: 10px;
        height: 10px;
    }
}
